receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
processors:
  batch:

  tail_sampling:
    policies: [
      {
        name: error-traces,
        type: status_code,
        status_code: { status_codes: [ ERROR ] }
      },
      {
        name: normal-traces,
        type: probabilistic,
        probabilistic: { sampling_percentage: 5 }
      },
    ]

extensions:
  health_check:
    endpoint: "0.0.0.0:13133"
    path: "/health"
    response_body:
      healthy: "UP"
      unhealthy: "DOWN"

exporters:
  debug:
    verbosity: detailed

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch, tail_sampling]
      exporters: [debug]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]

